body{
    margin:0
  }
  
  a{
    text-decoration:none;
    color:initial;
  }
  
  .container{
    background:#2E1542;
    display:flex;
    flex-direction:column;
    height:100vh;
    align-items:center;
    justify-content:center;
  }
  
  #quote-box{
    padding: 25px;
    max-width:700px;
    max-height:700px;
    background-color:yellow;
    border-radius: 25px;
  }
  .title{
    text-align:center;
    color: antiquewhite;
  }
  
  #text{
    margin-left:25px;
    margin-right:25px;
  }
  
  #author{
    margin-left:15px;
  }
  
  #new-quote{
    margin-left:25px;
     margin-bottom:5px;
  }
  
  
  .tweet-quote{
    margin-left:25px;
    
  }
  
  @media  (max-width:650px){
      body{
      font-size:0.4rem;
    }
  }